.breadcrumbs {
  position: relative;
  .sep {
    color: var(--black);
  }
}

.breadcrumbs ul {
  font-size: 12px;
  color: var(--grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}



.breadcrumbs ul li a {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: var(--black);

  &:hover {
    color: var(--orange);
  }
}

