// pagination
.pagination {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
        column-gap: 8px;

        li {
            color: var(--black);

            a {
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: color .2s linear, background-color .2s linear;
                border-radius: 50%;
                background-color: transparent;

                @media (max-width: 991px) {
                    width: 39px;
                    height: 39px;
                }

                &:hover {
                    background-color: var(--yellow);
                    color: var(--orange-dark);
                }
            }

            &.active {

                &:hover {
                    opacity: 1;
                }

                a {
                    color: var(--orange);
                    pointer-events: none;
                    background-color: var(--yellow);
                    font-weight: 600;
                }
            }

            &.disabled {
                a {
                    pointer-events: none;
                    color: var(--grey);
                }
            }
        }
    }
}

.pagination {
    ul {
        .pag-arrow {
            transition: opacity .2s linear;

            a {
                background-color: var(--background);

                &:hover {
                    background-color: var(--light);
                }
            }

            svg {
                stroke: var(--black);
                fill: transparent;
                width: 20px;
                height: 20px;
                stroke-width: 1.5px;
            }

            &:hover {

                svg {
                    stroke: var(--orange-dark);
                }
            }

            &.pag-arrow-none {

                a {
                    pointer-events: none;

                    svg {
                        stroke: var(--grey);
                        fill: transparent;
                    }
                }
            }
        }
    }
}